.container-fluid{
    align-items: center;
}    

.items-nav{
    list-style-type:none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.btn-edit, .btn-eliminar{
    height: 1.25%;
    width: 1.25%;
    float: right;
    margin: 0.4rem 0.4rem;

}

p {
    display: inline;
}

#img-banner{
    width: 98%;
    height: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 0 0;
    margin-top: 1%;
}

.acerca-de, .experiencia, .educacion, .skills, .proyectos{
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

#descripcion{
    font-size: small;
}

p{
    margin: auto, 5px;
}

.skills-titulos{
    text-align: center;
}

.progress {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}